{% extends "layout.html" %}


{% block body %}

<h3>Bilgiyi Paylaş</h3>
  <hr>
  Merhabalar.
  Ortak kullanım amaçlı açılmış bir blogtur.Bilgi güçtür sende paylaşmak istiyorsan ne duruyorsun.
  Bu blok herkesin kullanımına açık, her gelenin o an içinden ne geçiyorsa yazması, içini dökmesi için açılmış bir blogtur.

  <hr>
  
  <a href="/register" class = "btn btn-warning">Kayıtlı Değilsen Kolayca kaydol.Yazmaya Başla</a>
  <a href="/login" class = "btn btn-warning">Kayıtlıysan Giriş Yap</a>



{% endblock  %}


